<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Backbone.Prism - TODOs</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/bower_components/octicons/octicons/octicons.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="mega-octicon octicon-checklist"></span>
          TODOs
        </a>
        <nav class="masthead-nav">
          <a href="https://github.com/emaphp/backbone-prism-todos" target="_blank">View on Github</a>
        </nav>
      </div>
    </header>
    <div class="container">
        <div class="flash-messages">
            <div class="flash">
                <p><span class="octicon octicon-octoface">&nbsp;</span><strong>Welcome!</strong></p>
                <p>This is a demo application made with <em>Backbone.Prism</em>, a <em>Backbone.js</em> extension featuring a <em>Flux-like</em> architecture combining <em>React</em> and <em>Backbone.js</em>.</p>
                <p>If you want to know more about <em>Backbone.Prism</em> check out the repo <a href="https://github.com/emaphp/backbone.prism">here</a>. Happy coding!</p><hr>
            </div>
        </div>
        <div id="app">
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="left">Copyright @emaphp 2015</p>
            <p class="right">Made with <a href="https://facebook.github.io/react/" target="_blank">React</a> and <a href="http://backbonejs.org" target="_blank">Backbone.js</a></p>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/backbone.localStorage/backbone.localStorage.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/flux/dist/Flux.js"></script>
    <script src="/bower_components/backbone.radio/build/backbone.radio.js"></script>
    <script src="/backbone.prism.js"></script>
    <script src="/app.js"></script>
</body>
</html>
